body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f8f8;
}

.container {
    text-align: center;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

#chatbox {
    width: 300px;
    height: 400px;
    border: 1px solid #ccc;
    overflow-y: scroll;
    padding: 10px;
}

.message {
    margin-bottom: 5px;
    padding: 5px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.user-message {
    background-color: #94c6a9;
    color: #fff;
    border-radius: 4px;
}

.edit-btn, .delete-btn {
    margin-left: 5px;
    padding: 2px 5px;
    cursor: pointer;
    color: #007BFF;
    text-decoration: underline;
}

.edit-btn:hover, .delete-btn:hover {
    color: #0056b3;
}

#messageInputContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
}

#message {
    margin-right: 10px;
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

#sendBtn {
    padding: 8px 16px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

#sendBtn:hover {
    background-color: #0056b3;
}
